body
{
	background-color: #333;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);

	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

/* Links */
a,
a:focus,
a:hover {
	color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}

/*
 * Header
 */
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}

@media (min-width: 768px) {
	.masthead-brand {
		float: left;
	}
	.masthead-nav {
		float: right;
	}
}

textarea
{
	height: 300px;
	margin: 30px 0;
	padding: 10px;

	font-size: 16px;
	font-family: monospace;

	background-color: #333333;
	border-color: #444444;
}

.masthead-brand div
{
	width: 32px;
	height: 32px;
	background-size: 32px;
	background-image: url("../img/cypherlink@2x.png");
	display: inline-block;
	vertical-align: text-bottom;
}

.spacer
{
	margin-top: 100px;
}

.input-group-addon
{
	text-shadow: none;
}

input
{
	cursor: default !important;
}

textarea
{
	width: 100%;
}

#getlink
{
	display: block;
	margin: 0;
}

#getlink:hover
{
	cursor: pointer !important;
}

.page {
	margin-top: -40px;
}

.page textarea
{
	text-align: center;
}

select, select option
{
	color: #000;
}