html
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	overflow: hidden;
}

body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
	font-family: 'Titillium Web', sans-serif;
	background-color: transparent !important;
	color: #eee;

	overflow: scroll;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.full {
	background-color: #333;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

select, select option
{
	color: #000;
	background-color: #fff;
}

@media(min-width:768px){
	.navbar
	{
		background: none;
		border-bottom: none;

		font-size: 18px;
		margin-top: 4px;
	}

	.navbar-brand
	{
		font-size: 26px;
	}

	.navbar-nav
	{
		float: right;
	}

	.navbar-nav li
	{
		border-bottom: 2px solid #666;
		margin-left: 10px;
	}

	.navbar-nav li.active
	{
		border-bottom: 2px solid #eee !important;
		background-color: transparent;
	}

	.navbar-nav li.active a
	{
		background: transparent !important;
	}

	.navbar-nav > li > a
	{
		padding: 12px 8px 12px 8px !important;
	}

	.navbar-header a, .nav a
	{
		color: #eee !important;
	}

	.navbar-header a:hover, .nav a:hover
	{
		color: #bbb !important;
	}
}

h1, h2, h3, h4, h5, h6
{
	color: #eee !important;
	margin: 30px auto;
}

textarea
{
	width: 100%;
	height: 320px;
	background-color: #222;
	border-color: #444;
	font-size: 16px;

	font-family: monospace;
	padding: 10px 15px;
}

footer
{
	margin-top: 20px;
}

#inputform span
{
	margin-top: 10px;
}

.desc
{
	margin-top: -20px;
}

.spacer
{
	height: 30px;
}